#app {
    display: flex;
    flex-flow: column;
    height: 100vh;
    background: url("../img/6395566594d2d761ba04f0c74fa4bd4b.jpg") center/100%;
}

#app .head {
    height: 3vh;
    background: url("../img/cf620101eaf0e63e0973a6cfc52228f9.jpg") center/100%;
    box-shadow: 0px 4px 10px 0 #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-radius: 4px;
}

#app .foot {
    height: 5vh;
    background: url("../img/cf620101eaf0e63e0973a6cfc52228f9.jpg") center/100%;
    box-shadow: 0px 4px 10px 0 #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-radius: 4px;
}

#app .content {
    flex: 1;
    overflow: scroll;
}

#app h1 {
    margin-top: 10vh;
    font-size: 5vh;
    text-align: center;
}

#app h2 {
    display: flex;
    justify-content: space-between;
    color: gray;
}
.ui-menubox{
    width: 300px;
    height: 100vh;
    background: url("../img/f4daa7d009919a7a66e3ad3b47d57723.jpeg") center/100vh;
    position: fixed;
    top:0;
    padding-top: 10vh;
    opacity: 0.95;
}
.ui-menubox .ui-menu{
    text-align: center;
    font-size: 35px;
    border-bottom: 1px solid #EEEEEE;
}

.ui-icon {
    height: 3vh;
    width: 3vh;
    display: inline-block;
    margin-left: 20px;
}
.ui-help {
    height: 500px;
    width: 500px;
    background: url(../img/timg.gif) no-repeat center/100%;
    position: fixed;
    bottom: -100px;
    right: -25px;
}
.ui-icon-more {
    background: url("../img/icon/gengduo.png") no-repeat center/100%;
}
.ui-icon-menu {
    background: url("../img/icon/shouye.png") no-repeat center/100%;
}

.ui-icon-copy {
    background: url("../img/icon/fuzhi.png") no-repeat center/100%;
}

.ui-icon-del {
    background: url("../img/icon/shanchu.png") no-repeat center/100%;
}
.ui-tips{
    text-align: center;
}
span {
    cursor: pointer;
}
.ui-toast {
    position: fixed;
    bottom: 20vh;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 400px;
    height: 60px;
    color: white;
    line-height: 60px;
    font-size: 35px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.ui-bar{
    display: flex;
    justify-content: space-between;
}
/*  */
.ui-box {
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 5px 5px 10px 0 #888888;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
.ui-boxbg {
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.ui-alert {
    width: 400px;
    height: 200px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    flex-flow: column;
}
.ui-msg{
    font-size: 35px;
}
.ui-buble{
    width: 200px;
    height: 100px;
    right: 3vw;
    top:5vh;
    flex-flow: row;
    align-items: center;
}
.ui-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.ui-input input {
    border: 2px solid #333333;
    box-shadow: 5px 5px 10px #959595;
    height: 80px;
    width: 600px;
    font-size: 2vh;
    border-radius: 10px;
    text-align: center;
    margin-top: 5vh;
}

.ui-input input::placeholder {
    color: #999999
}
button{
    border: 1px solid #666666;
    background: #EEEEEE;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
}
.ui-button{
    width: 200px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    margin-top: 5vh;
}
.ui-button-ok{
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
}


.ui-list {
    margin-top: 2vh;
    font-size: 35px;
}

.ui-list p {
    border-bottom: 1px solid #EEEEEE;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

.show-enter-active {
    animation: box-ani .3s;
    -webkit-animation: box-ani .3s;
}

.show-leave-active {
    animation: box-ani .3s reverse;
    -webkit-animation: box-ani .3s reverse;
}
@keyframes box-ani {
    from {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }

    to {
        transform: (1);
        -webkit-transform: (1);
        -moz-transform: (1);
        -ms-transform: (1);
        -o-transform: (1);
    }
}
.slide-enter-active {
    animation: slide-ani .5s;
    -webkit-animation: slide-ani .5s;
}
.slide-leave-active {
    animation: slide-ani .5s reverse;
    -webkit-animation: slide-ani .5s reverse;
}
@keyframes slide-ani {
    from {
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
}

    to {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
}
}

