#app {
    display: flex;
    text-align: center;
    flex-flow: column;
    height: 100vh;
    background: url("../img/6395566594d2d761ba04f0c74fa4bd4b.jpg")  center/100%;
}
#app h1{
    margin-top:20vh;
    font-size: 5vh;
}
#app h2{
    display: flex;
    justify-content: space-between;
    color: gray;
}

.ui-toast{
    position: fixed;
    top: 10vh;
    width: 50%;
    left: 25vw;
    height: 4vh;
    color: white;
    line-height: 4vh;
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
    font-size: 2vh;
}
.ui-input input {
    border: 2px solid #f15fa6;
    box-shadow: 5px 5px 10px #959595;
    height: 4vh;
    width: 60vw;
    font-size: 2vh;
    border-radius: 10px;
    text-align: center;
}
.ui-input input::placeholder {
    color:#999999
}
.ui-list  {
    font-size: 35px;
}
.ui-list li {
    border: 2px solid #EEEEEE;
    margin-top: 15px;
    display: flex;
}
.ui-list span {
    flex: 1;
}
span{
    cursor: pointer;
}
.ui-list span:first-of-type {
    color: green;
}
.ui-list span:last-of-type {
   color:red;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
}
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

